[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
click = "*"
livereload = "*"
mkdocs = "*"
mkdocs-cinder = "*"
mkdocs-material = "*"
pymdown-extensions = "*"
pyparsing = "*"
six = "*"
tornado = "*"
"Jinja2" = "*"
Markdown = "*"
MarkupSafe = "*"
PyYAML = "*"
mkdocs-material-extensions = "*"
mkdocs-git-revision-date-localized-plugin = "*"

[dev-packages]

[requires]
python_version = "3.7"
